@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&family=Slackey&display=swap");
@import "primeicons/primeicons.css";

$cream: #f8f5f0;

* {
  box-sizing: border-box;
}

html {
  background: $cream;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}
